.float {
    float: right;
}
.sticky {
    position: fixed;
  }
h1 {
    padding-top:4%;
    text-align: center;
}
h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}
.card {
    border: 3px solid black;
}
p {
    padding-top: 2%;
    max-width: 60%;
}
#myBtn {
    position: fixed; 
    right: 30px;
    bottom: 30px;
    border-radius: 10px;
    padding: 15px;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 9999;
}